name: variable Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

env:
  DEFAULT_ENV: "qa"

jobs:
  first_job:    
    runs-on: ubuntu-latest

    steps:

      - name: Set up variables
        run: |
          echo "Hello..running on env- ${{ env.DEFAULT_ENV }}"